
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

#admin-page {
  padding-top:0;
  font-family: 'Oswald', sans-serif;
  font-size:15px;
}

.help-block {
  color: #a94442;
}

img.index-thumbnail {
  border-radius: 100px;
  height: 40px;
  width: 45px;
  padding: 4px;
  line-height: 1;
  background-color: #f5f8fa;
  border: 1px solid #ddd;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.btn-add {
  border-radius: 30px !important;
}

.add-category{
  margin-top: 50px;
}

