
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

#admin-page {
  padding-top:0;
  font-family: 'Oswald', sans-serif;
  font-size:15px;
}

.help-block {
  color: #a94442;
}

img.index-thumbnail {
  border-radius: 100px;
  height: 30px;
  width: 35px;
}
